@model test2.Models.SymmetryViewModel

<h1>Symmetry Checker</h1>

<form asp-action="CheckSymmetry" method="post">
    <div>
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="Number" value="@Model.Number" required />
    </div>
    <button type="submit">Check</button>
</form>

@if (Model.IsSymmetrical.HasValue)
{
    <div>
        <p>The number @(Model.Number) is @(Model.IsSymmetrical.Value ? "symmetrical" : "not symmetrical").</p>
    </div>
}
